@model AuthMVC.ViewModels.User.IndexVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Użytkownik: @Model.username | @Html.ActionLink("Wyloguj", "Logout", "Authentication")
    </div>

    <span>
        @Html.ActionLink("DODAJ", "Create")
    </span>
    <div></div>
    <br />
    <br />
    <div>
        <table>
            <caption>Lista użytkowników</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.age)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.userList)
            {
                <tr style="background-color:@item.colorAge">
                    <td>
                        @Html.DisplayFor(modelItem => item.userID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.userID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.userID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
