@model WebApplication2.ViewModels.User.DetailsVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        Użytkownik: @Model.username | @Html.ActionLink("Wyloguj", "Logout", "Authentication")
    </div>
    <table>
        <caption>Szczegóły</caption>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.firstName)
            </td>

            <td>
                @Html.DisplayFor(model => model.user.firstName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.lastName)
            </td>

            <td>
                @Html.DisplayFor(model => model.user.lastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.age)
            </td>

            <td>
                @Html.DisplayFor(model => model.user.age)
            </td>
        </tr>


    </table>
    

    <br /><br />
    <span>
        @Html.ActionLink("Back to List", "Index")
    </span>
</body>
</html>
